
[pretix]
instance_name=My pretix installation
url=https://pretix.mydomain.com
currency=USD
; DO NOT change the following value, it has to be set to the location of the
; directory *inside* the docker container
datadir=/data
trust_x_forwarded_for=on
trust_x_forwarded_proto=on

[database]
backend = mysql
name = pretix
user = pretix
password = veryunsecureplschange
host = pretix-db
port = 3306

[mail]
from = some@email.address
host = smtp
port = 25
#user = admin
#password = something
#tls = False
#ssl = True

[celery]
backend = redis://pretix-redis/1
broker = redis://pretix-redis/2

[redis]
location=redis://pretix-redis/0
; Remove the following line if you are unsure about your redis' security
; to reduce impact if redis gets compromised.
sessions=true
# ==========================================
